<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-sky-600 px-4 pb-4">
    <div class="flex flex-col h-full">
      <div>
        <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
      </div>
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="columns"
        cdkDropListGroup
        class="flex grow items-start w-full h-full overflow-x-auto scrollbar"
      >
        <div
          *ngFor="let column of columns"
          cdkDrag
          class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0"
        >
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2">{{ column.title }}</h3>
          </div>

          <div
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="column.todos"
            class="text-sm mt-2 min-h-[2.5rem]"
          >
            <div
              (click)="openDialog(todo)"
              *ngFor="let todo of column.todos"
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
            >
              {{ todo.name }}
            </div>
          </div>
          <button>Add a Card</button>
        </div>
        <button class="shrink-0" (click)="addList()">Add a List</button>
      </div>
    </div>
  </div>
</div>
